@import "tailwindcss";

@theme{
    --color-theme-white: #FFFFFF;
    --color-theme-primary: #BF9D7D;
    --radius-md:8px;
    --radius-10xl:80px;
    --text-100: 100px;
    --text-40:40px;
    --text-30: 30px;
    --text-24:24px;
}
